:root {
  --el-color-white: #fff;

  // base color
  --blue: #324157;
  --light-blue: #3A71A8;
  --red: #C03639;
  --pink: #E65D6E;
  --green: #30B08F;
  --tiffany: #4AB7BD;
  --yellow: #FEC171;
  --pan-green: #30B08F;

  // sidebar
  --menu-text: #bfcbd9;
  --menu-active-text: #409EFF;
  --sub-menu-active-text: #f4f4f5; 

  --menu-bg: #004471;
  --menu-hover: #0088ba;

  --sub-menu-bg: #004471;
  --sub-menu-hover: #0088ba;

  --side-bar-width: 250px;
}